<!DOCTYPE html>
<html>
  <head>
    <title>LinkU</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="LinkU" />
    <meta property='og:image' content="<%= image_url('session-feature1.png') %>"/>
    <meta property="og:description"
       content="LinkU is a clone of LinkedIn, the online service used for professional networking. In LinkU, users can network with other professionals by sharing their information on profile and post/comment on newsfeed."
    />
    <meta property="og:url"
       content="https://link-u.herokuapp.com/"
    />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <script>
      window.linkuLogo = '<%= image_url('linku_logo.png') %>';
      window.uLogo = '<%= image_url('u_logo.png') %>';
      window.profileBackground =  '<%= image_url('profile_background_default.jpg') %>';
      window.hansaemPhoto = '<%= image_url('hansaem-pic.jpg') %>';
      window.educationImg = '<%= image_url('education_default.png') %>';
      window.experienceImg = '<%= image_url('experience_default.png') %>';
      window.profileDefault = '<%= image_url('profile-default.jpg') %>';
    </script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('u_logo.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
